/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: column;
  flex-wrap: nowrap;
}

.flex-col {
  flex-direction: row;
  flex-wrap: wrap;
}

.grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}
@media screen and (max-width: 46.875rem) {
  .grid {
    display: initial;
  }
}

@media screen and (min-width: 46.875rem) {
  .bgimg {
    background-image: "/Images_Prueba/Logo_Escritorio.jpg";
    background-repeat: no-repeat;
    background-size: cover;
    height: 170%;
    width: 100%;
  }
}
@media screen and (max-width: 46.875rem) {
  .bgimg {
    background-image: "/Images_Prueba/Logo_Movil.jpg";
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 46.875rem) {
  #contacto span {
    font-size: 16px !important;
  }
}
#Cafe,
#Bebidas,
#Entrantes,
#Dulces,
#Comida,
#Helados {
  border-radius: 0 0 10px 10px;
}
@media screen and (min-width: 46.875rem) {
  #Cafe p,
#Cafe h3,
#Bebidas p,
#Bebidas h3,
#Entrantes p,
#Entrantes h3,
#Dulces p,
#Dulces h3,
#Comida p,
#Comida h3,
#Helados p,
#Helados h3 {
    font-size: 24px;
  }
}
@media screen and (max-width: 46.875rem) {
  #Cafe div.w3-row div.w3-circle,
#Bebidas div.w3-row div.w3-circle,
#Entrantes div.w3-row div.w3-circle,
#Dulces div.w3-row div.w3-circle,
#Comida div.w3-row div.w3-circle,
#Helados div.w3-row div.w3-circle {
    width: 100px !important;
    height: 100px !important;
  }
  #Cafe div.w3-row h3,
#Bebidas div.w3-row h3,
#Entrantes div.w3-row h3,
#Dulces div.w3-row h3,
#Comida div.w3-row h3,
#Helados div.w3-row h3 {
    font-size: 16px;
  }
  #Cafe div.w3-row p,
#Bebidas div.w3-row p,
#Entrantes div.w3-row p,
#Dulces div.w3-row p,
#Comida div.w3-row p,
#Helados div.w3-row p {
    font-size: 14px;
  }
  #Cafe div.w3-row span,
#Bebidas div.w3-row span,
#Entrantes div.w3-row span,
#Dulces div.w3-row span,
#Comida div.w3-row span,
#Helados div.w3-row span {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 46.875rem) {
  #about p,
#contacto p,
footer p {
    font-size: 18px;
  }
}/*# sourceMappingURL=estilosSASS.css.map */
