body,
html {
    height: 100%
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Amatic SC", sans-serif
}

.menu {
    display: none
}

.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("Images_Prueba/Logo_Corregido.jpg");
    min-height: 120%;
}

/* Con SASS realizar estilos responsive para la vista movil y la vista de tablet     */
